.goodExample {
    color:#22863a;
    background-color:#f0fff4
}

.badExample {
    color:#b31d28;
    background-color:#ffeef0
}
.badExample h3 {
    color:#b31d28;
    margin-left: 0.5rem;
}
.goodExample h3 {
    color:#22863a;
    margin-left: 0.5rem;
}