.goodExample {
    color:#22863a;
    background-color:#f0fff4
}

.badExample {
    color:#b31d28;
    background-color:#ffeef0
}
.badExample h3 {
    color:#b31d28;
    margin-left: 0.5rem;
}
.goodExample h3 {
    color:#22863a;
    margin-left: 0.5rem;
}

.remove-before *::before {
    content: none !important
}

.sampleAppButton {
	background:linear-gradient(to bottom, #7253ed 5%, #7253ed 100%);
	background-color:#7253ed;
	border-radius:6px;
	border:1px solid #7253ed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:5px 29px;
	text-decoration:none;
}
.sampleAppButton:hover {
	background:linear-gradient(to bottom, #7253ed 5%, #7253ed 100%);
	background-color:#7253ed;
}
.sampleAppButton:active {
	position:relative;
	top:1px;
}
